In [1]:
import pandas as pd

df = pd.DataFrame({
    "Name": [" Rohit ", "AMIT", "neha", "San tosh"]
})

print(df["Name"].str.replace("San tosh","Santosh"))

0     Rohit
1       AMIT
2       neha
3    Santosh
Name: Name, dtype: object