# PANDAS - READ EXCEL

To read an Excel file in Python, we use the Pandas read_excel() method. 
First, install the openpyxl package in the PyCharm IDE.

In [6]:
import pandas as pd
df=pd.read_excel(r"D:\Data-Science\Pandas\Excel\Student.xlsx")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Rank    6 non-null      int64
 2   Marks   6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes
None

In [8]:
import pandas as pd
df=pd.read_excel(r"D:\Data-Science\Pandas\Excel\Student.xlsx")
print(df.head(2))

      Name  Rank  Marks
0    Rohit     1     95
1  Santosh     4     52

In [10]:
import pandas as pd
df=pd.read_excel(r"D:\Data-Science\Pandas\Excel\Student.xlsx")
print(df.tail(2))

      Name  Rank  Marks
4  Vandana     2     25
5    Rohan     1     80

In [11]:
import pandas as pd
df=pd.read_excel(r"D:\Data-Science\Pandas\Excel\Student.xlsx")
print(df.isnull())

    Name   Rank  Marks
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False

In [13]:
import pandas as pd
df=pd.read_excel(r"D:\Data-Science\Pandas\Excel\Student.xlsx")
print(df.isnull().sum())

Name     0
Rank     0
Marks    0
dtype: int64

In [15]:
import pandas as pd
df=pd.read_excel(r"D:\Data-Science\Pandas\Excel\Student.xlsx")
print(df.iloc[0])

Name     Rohit
Rank         1
Marks       95
Name: 0, dtype: object

In [18]:
import pandas as pd
df=pd.read_excel(r"D:\Data-Science\Pandas\Excel\Student.xlsx")
print(df.loc[0])

Name     Rohit
Rank         1
Marks       95
Name: 0, dtype: object

In [20]:
import pandas as pd
df=pd.read_excel(r"D:\Data-Science\Pandas\Excel\Student.xlsx")
print(df["Name"])

0        Rohit
1      Santosh
2       Ranvir
3    Prabhakar
4      Vandana
5        Rohan
Name: Name, dtype: object

In [24]:
import pandas as pd
df=pd.read_excel(r"D:\Data-Science\Pandas\Excel\Student.xlsx")
print(df[["Name","Marks"]])

        Name  Marks
0      Rohit     95
1    Santosh     52
2     Ranvir      4
3  Prabhakar     65
4    Vandana     25
5      Rohan     80