# Flight price precection(EDA + Feature Engineering)

In [7]:
# Importing important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
train_df=pd.read_excel(r"D:\Data-Science\DATA Cleaning\Flight price predection dataset\Data_Train.xlsx")
test_df=pd.read_excel(r"D:\Data-Science\DATA Cleaning\Flight price predection dataset\Test_set.xlsx")
final_df=pd.concat([train_df,test_df],axis=0,ignore_index=True)
final_df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
13349,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
13350,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
13351,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
13352,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
13353,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [9]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.1+ MB

# Feature Engineering

In [10]:
final_df['Date']=final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month']=final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year']=final_df['Date_of_Journey'].str.split('/').str[2]

In [11]:
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

# We can also use this for extracrting date

In [12]:
#final_df['Date']=final_df['Date_of_Journey'].apply(lambda x:x.split('/')[0])
# final_df['Month']=final_df['Date_of_Journey'].apply(lambda x:x.split('/')[1])
# final_df['Year']=final_df['Date_of_Journey'].apply(lambda x:x.split('/')[2])

In [13]:
final_df['Date']=final_df['Date'].astype(int)
final_df['Month']=final_df['Month'].astype(int)
final_df['Year']=final_df['Year'].astype(int)

In [14]:
final_df.drop('Date_of_Journey',axis=1,inplace=True)

In [15]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019

In [16]:
final_df['Arrival_Time'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13354 entries, 0 to 13353
Series name: Arrival_Time
Non-Null Count  Dtype
--------------  -----
13354 non-null  object
dtypes: object(1)
memory usage: 104.5+ KB

# From Arrival Time We are going to extract Time using lambda function

In [17]:
final_df["Arrival_Time"]=final_df['Arrival_Time'].apply(lambda x:x.split(" ")[0])

In [18]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [19]:
final_df['Arrival_Hours']=final_df['Arrival_Time'].str.split(":").str[0]
final_df['Arrival_Min']=final_df['Arrival_Time'].str.split(":").str[1]
final_df['Arrival_Hours']=final_df['Arrival_Hours'].astype(int)
final_df['Arrival_Min']=final_df['Arrival_Min'].astype(int)
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [20]:
final_df['Dep_Hour']=final_df['Dep_Time'].str.split(":").str[0]
final_df['Dep_Min']=final_df['Dep_Time'].str.split(":").str[1]
final_df['Dep_Hour']=final_df['Dep_Hour'].astype(int)
final_df['Dep_Min']=final_df['Dep_Min'].astype(int)
final_df.drop('Dep_Time',axis=1,inplace=True)

In [24]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [25]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'2 stops':2,'1 stop':1,'3 stops':3,'nan':1,'4 stops':4})

In [26]:
final_df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

# we are going to drop Route Column

In [27]:
final_df.drop('Route',axis=1,inplace=True)

In [29]:
final_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [30]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13353 non-null  float64
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int64
 8   Month            13354 non-null  int64
 9   Year             13354 non-null  int64
 10  Arrival_Hours    13354 non-null  int64
 11  Arrival_Min      13354 non-null  int64
 12  Dep_Hour         13354 non-null  int64
 13  Dep_Min          13354 non-null  int64
dtypes: float64(2), int64(7), object(5)
memory usage: 1.4+ MB

In [45]:
final_df['Duration_hour']=final_df['Duration'].str.split(' ').str[0].str.split('h')
final_df['Duration_hour']=final_df['Duration'].str.extract(r'(\d+)').astype(int)

In [34]:
final_df[final_df['Duration_hour']=='5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_Hours, Arrival_Min, Dep_Hour, Dep_Min, Duration_hour]
Index: []

In [35]:
final_df.drop(6474,inplace=True)
final_df.drop(13343,inplace=True)

In [36]:
final_df['Duration_min']=final_df['Duration'].str.split(' ').str[1].str.split('m')

In [37]:
final_df.drop('Duration_min',axis=1,inplace=True)

In [38]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [39]:
final_df['Airline']=labelencoder.fit_transform(final_df['Airline'])
final_df['Source']=labelencoder.fit_transform(final_df['Source'])
final_df['Destination']=labelencoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']=labelencoder.fit_transform(final_df['Additional_Info'])

In [40]:
final_df.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hours,Arrival_Min,Dep_Hour,Dep_Min,Duration_hour
0,3,0,5,2h 50m,0.0,8,3897.0,24,3,2019,1,10,22,20,2
1,1,3,0,7h 25m,2.0,8,7662.0,1,5,2019,13,15,5,50,7

In [41]:
final_df.isna().sum()

Airline               0
Source                0
Destination           0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2670
Date                  0
Month                 0
Year                  0
Arrival_Hours         0
Arrival_Min           0
Dep_Hour              0
Dep_Min               0
Duration_hour         0
dtype: int64

In [42]:
# pd.get_dummies(final_df,columns=['Airline','Source','Destination','Additional_Info'],drop_first=True).astype(int)

## We can do this also this is also fine

In [43]:
df1=pd.get_dummies(final_df['Airline']).astype(int)
df2=pd.get_dummies(final_df['Source']).astype(int)
df3=pd.get_dummies(final_df['Destination']).astype(int)
df4=pd.get_dummies(final_df['Additional_Info']).astype(int)

In [44]:
final_df=pd.concat(
    [final_df.drop(columns=['Airline','Source','Destination','Additional_Info'])
     ,df1,df2,df3,df4],axis=1
)