In [5]:
import pandas as pd

df = pd.DataFrame({
    "Department": ["HR", "IT", "HR", "IT", "Finance"],
    "Employee": ["A", "B", "C", "D", "A"],
    "Gender":["F","F","M","M","F"],
    "Salary": [30000, 50000, 35000, 55000, 40000]
})

print(df)

  Department Employee Gender  Salary
0         HR        A      F   30000
1         IT        B      F   50000
2         HR        C      M   35000
3         IT        D      M   55000
4    Finance        E      F   40000

In [3]:
res=df.groupby("Department")["Salary"].mean()
print(res)

Department
Finance    40000.0
HR         32500.0
IT         52500.0
Name: Salary, dtype: float64

In [11]:
res=df.groupby("Department")["Gender"].count()
print(res)

Department
Finance    1
HR         2
IT         2
Name: Gender, dtype: int64

In [13]:
res=df.groupby("Employee")["Gender"].count()
print(res)

Employee
A    1
B    1
C    1
D    1
E    1
Name: Gender, dtype: int64