# PANDAS - GROUP THE DATA

In this lesson, we will learn how to group data in a DataFrame and perform operations on it.

First, we will split the data into groups, then we will iterate through the groups and then
display the groups. Let us see what we will cover:
1. Split the object and combine the result
2. Iterate the Group
3. View the Group
4. Perform Aggregation Operations on Groups

In [1]:
import pandas as pd

df = pd.DataFrame({
    "Department": ["HR", "IT", "HR", "IT", "Finance"],
    "Employee": ["A", "B", "C", "D", "E"],
    "Salary": [30000, 50000, 35000, 55000, 40000]
})

print(df)

  Department Employee  Salary
0         HR        A   30000
1         IT        B   50000
2         HR        C   35000
3         IT        D   55000
4    Finance        E   40000