In [3]:
name=["rohit","marur","kulkerni"]
age=[20,30,40]
d={i:j for i,j in zip(name,age)}
print(d)

{'rohit': 20, 'marur': 30, 'kulkerni': 40}

# Dictionary to list

In [6]:
dic={'rohit': 20, 'marur': 30, 'kulkerni': 40}
keys,values=[],[]
for i in dic:
    keys.append(i)
    values.append(dic[i])
keys,values

(['rohit', 'marur', 'kulkerni'], [20, 30, 40])

In [8]:
name=['rohit','rohan','santosh']
age=[20,30,35]

d={i:j for i,j in zip(name,age)}
print(d)

{'rohit': 20, 'rohan': 30, 'santosh': 35}

In [10]:
d={'rohit': 20, 'rohan': 30, 'santosh': 35}
name=[]
value=[]
for i in d:
    name.append(i)
    value.append(d[i])
name,value

(['rohit', 'rohan', 'santosh'], [20, 30, 35])

In [16]:
str1=['hai','how','are','you']
st1='hey how are you'
st1.split()

['hey', 'how', 'are', 'you']

In [15]:
''.join(st1)

'hey how are you'

1. string to list
2. list to string
3. list to dict
4. dict to list

In [42]:
str1='happy happy new year year happy'
d={}
s=str1.split()
for i in range(len(s)):
    if s[i] in d:
        d[s[i]]=d[s[i]]+1
    else:
        d[s[i]]=1
print(d)

{'happy': 3, 'new': 1, 'year': 2}

In [53]:
str1='happy happy new year year happy'
s=str1.split()
d={words:s.count(words) for words in s }
print(d)

{'happy': 3, 'new': 1, 'year': 2}

In [52]:
d={'Fruits':['Apple','Banana','cherry']}
d['Fruits'][2]

'cherry'

In [57]:
d={'Fruits':['Apple','Banana','cherry']}
# d['Fruits'][3]
for i in d:
    if d[i][2]=='cherry':
        print(True)

True

In [67]:
d={'Fruits':{'Apple':['Banana','cherry']}}
d['Fruits']['Apple'][1]

'cherry'

In [77]:
d={'Fruits':['Apple',{'kashmir':['India',{'Cricket':['Virat']}]}]}
d['Fruits'][1]['kashmir'][0]

KeyError: 0