In [10]:
import pandas as pd
df=pd.read_csv(r"D:\Data-Science\Pandas\csv\Students.csv")
for col in df.items():
    print(col)

0        Rohit
1      Santosh
2       Ranvir
3    Prabhakar
Name: Students, dtype: object
0    1
1    2
2    3
3    4
Name: Rank, dtype: int64
0    95
1    60
2    50
3    80
Name: Marks, dtype: int64

In [13]:
df=pd.read_csv(r"D:\Data-Science\Pandas\csv\Students.csv")
for a,b in df.items():
    print(a)
    print(b)

Students
0        Rohit
1      Santosh
2       Ranvir
3    Prabhakar
Name: Students, dtype: object
Rank
0    1
1    2
2    3
3    4
Name: Rank, dtype: int64
Marks
0    95
1    60
2    50
3    80
Name: Marks, dtype: int64

In [6]:
df=pd.read_csv(r"D:\Data-Science\Pandas\csv\Students.csv")
for col in df.columns:
    print(col)
    print(df[col])

Students
0        Rohit
1      Santosh
2       Ranvir
3    Prabhakar
Name: Students, dtype: object
Rank
0    1
1    2
2    3
3    4
Name: Rank, dtype: int64
Marks
0    95
1    60
2    50
3    80
Name: Marks, dtype: int64

In [8]:
df=pd.read_csv(r"D:\Data-Science\Pandas\csv\Students.csv")
for col in df.columns:
    print(col)

Students
Rank
Marks