In [12]:
l1=[10,20,30,40,60]
l2=[100,200,300]
out=[]
n1=len(l1)
n2=len(l2)
if n1>n2:
    for i in range(n1):
        if i<n2:
            out.append(l1[i]+l2[i])
        else:
            out.append(l1[i])
print(out)

[110, 220, 330, 40, 60]

In [26]:
l=[1,2,[3,4,5],[6,7,8,9]]
n1=len(l)
out=[]
for i in l:
    if type(i)==int:
        out.append(i)
    elif type(i)==list:
        out.extend(i)
print(out)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
names=["Ramesh","Suresh","Satish"]
val=[20,22,24]
dec={}
for i in range(len(names)):
    dec[names[i]]=val[i]
print(dec)

{'Ramesh': 20, 'Suresh': 22, 'Satish': 24}

In [47]:
d1={20:'Ramesh',22:'Suresh',23:'Satish'}
d2={'Ramesh': 20, 'Suresh': 22, 'Satish': 24}
d3={'A':20,'B':22,'C':True,'D':20+3j}
d4={20:'A','22':'B',True:'C',20+3j:'D'}

for i in d3.values():
    print(type(i))

<class 'int'>
<class 'int'>
<class 'bool'>
<class 'complex'>

## Note in dictionary if both keys are same then it will remain only  new value

In [48]:
dic={'Rohit':20,'Rohit':22}
dic

{'Rohit': 22}

## Dictionary is a type of data base in this key MUST unique and value can be similar

In [50]:
dictA={'Names':['Ramesh','Suresh','Mahesh']}
dictA

{'Names': ['Ramesh', 'Suresh', 'Mahesh']}

## In this we will get error Because List Is Mutable It Can be change But key Must be Unique

In [51]:
dictA={['Ramesh','Suresh','Mahesh']:'Names'}
dictA

TypeError: unhashable type: 'list'

## This Will run because Tuple Are Immutable And value must be unique

In [52]:
dictA={('Ramesh','Suresh','Mahesh'):'Names'}
dictA

{('Ramesh', 'Suresh', 'Mahesh'): 'Names'}

# In this we will get error Because List Is Mutable It Can be change But key Must be UniqueÂ¶

In [53]:
dictA={{'Ramesh','Suresh','Mahesh'}:21}
dictA

TypeError: unhashable type: 'set'

In [78]:
d1={20:'Ramesh',22:'Suresh',23:'Satish'}
d2={'Ramesh': 20, 'Suresh': 22, 'Satish': 24}
d3={'A':20,'C':22,'A':True,'B':20+3j}
min(d3)
max(d2)
len(d2)
sorted(d3.values())
sum(d1)
list(reversed(d2))

TypeError: '<' not supported between instances of 'complex' and 'int'

In [80]:
d1={20:'Ramesh',22:'Suresh',23:'Satish'}
d1[0]

KeyError: 0

In [83]:
d1={20:'Ramesh',22:'Suresh',23:'Satish'}
d1[20]

'Ramesh'

In [86]:
d2={'Ramesh': 20, 'Suresh': 22, 'Satish': 24}
for i in d2:
    print(f"{i} age is {d2[i]}")

Ramesh age is 20
Suresh age is 22
Satish age is 24