In [23]:
import pandas as pd
data={
    "city":["Pune","Kali","yavatmal","Pusad"],
    "salary":[3000,5000,4000,6000]
}
df=pd.DataFrame(data,dtype="category")
print(df.dtypes)

city      category
salary    category
dtype: object

In [20]:
import pandas as pd
data={
    "city":["Pune","Kali","yavatmal","Pusad"],
    "salary":[3000,5000,4000,6000]
}
df["city"]=df["city"].astype("category")
print(df)

AttributeError: 'str' object has no attribute 'astype'