## 6. PANDAS DATAFRAME -T

The pandas.DataFrame.T is used to Transpose the rows and columns.

Let us now see an example to implement the T attribute in Python Pandas:

In [7]:
import pandas as pd
data={
    "Students":["Rohit","Santosh","RAnvir"],
    "Rank":[1,2,3],
    "Marks":[95,70,80]
}
df=pd.DataFrame(data,index=["RowA","RowB","RowC"])
print("Actual Data =>\n")
print(df)
print("\n\nTranspose of Data =>\n")
print(df.T)

Actual Data =>

     Students  Rank  Marks
RowA    Rohit     1     95
RowB  Santosh     2     70
RowC   RAnvir     3     80


Transpose of Data =>

           RowA     RowB    RowC
Students  Rohit  Santosh  RAnvir
Rank          1        2       3
Marks        95       70      80