# PANDAS - DELETE ROWS/ COLUMNS

The drop() method is used in Python to delete rows/ columns in a Pandas DataFrame. It is
used to remove a particular row or column. Under the parameters of the drop( method,
mention the column you want to delete with the axis.

We will now see two examples:

1. Drop columns
2. Drop rows

# I. PANDAS - DROP COLUMNS USING DROP()

The columns are dropped using the column names. The axis is set to 1 since we want to drop
a column. The columns axis can also be used for the drop() method to remove the specified
column:

axis='columns'
or
axis = 1

Let us see an example to drop columns using the drop() method:

In [4]:
import pandas as pd
data={
    "RollNo":[101,102,103,104],
    "Name":["Rohit","Santosh","Ranvir","Vandana"],
    "Marks":[85,90,56,98]
}
df=pd.DataFrame(data)
df["Status"]=["Pass","Fail","Fail","Pass"]
print(df)

   RollNo     Name  Marks Status
0     101    Rohit     85   Pass
1     102  Santosh     90   Fail
2     103   Ranvir     56   Fail
3     104  Vandana     98   Pass

In [7]:
import pandas as pd
data={
    "RollNo":[101,102,103,104],
    "Name":["Rohit","Santosh","Ranvir","Vandana"],
    "Marks":[85,90,56,98]
}
df=pd.DataFrame(data)
result=df.assign(roll=[101,102,103,104])
print(result)

   RollNo     Name  Marks  roll
0     101    Rohit     85   101
1     102  Santosh     90   102
2     103   Ranvir     56   103
3     104  Vandana     98   104

In [10]:
import pandas as pd
data={
    "RollNo":[101,102,103,104],
    "Name":["Rohit","Santosh","Ranvir","Vandana"],
    "Marks":[85,90,56,98]
}
df.insert(1 ,"Statu",["pass","fail","fail","pass"])
print(df)

   RollNo Statu Status     Name  Marks
0     101  pass   pass    Rohit     85
1     102  fail   fail  Santosh     90
2     103  fail   fail   Ranvir     56
3     104  pass   pass  Vandana     98

In [25]:
import pandas as pd
data={
    "RollNo":[101,102,103,104],
    "Name":["Rohit","Santosh","Ranvir","Vandana"],
    "Marks":[85,90,56,98]
}
df=pd.DataFrame(data)
# df=df.drop("",axis=1)
print(df.drop(0))

   RollNo     Name  Marks
1     102  Santosh     90
2     103   Ranvir     56
3     104  Vandana     98