In [2]:
import pandas as pd
data={
    "Name":["Rohit","Santosh","Ranvir"],
    "Age":[22, 25,23],
    "Salary":[25000,30000,35000]    
}
df =pd.DataFrame(data,index=['RowA','RowB','RowC'])

for col in df:
    print(col)

Name
Age
Salary