In [5]:
names=["Rohit","Santosh","ranvir","Pratham"]
l2=[20,30,40,50]
l3={i:j for i,j in zip(names,l2)}
print(l3)

{'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}

In [8]:
l={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
l["Pratham"]=500
print(l)

{'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 500}

In [38]:
d1={"Ramesh":20}
d2={"Suresh":30}
print(d1.update(d2))

None

'clear',     =>>Dictionary clear
 'copy',     ==>Copy
 'fromkeys', ==>
 'get',      ==>Get some value
 'items',    ==>kays and values pair come
 'keys',     ==> only keys
 'pop',      ==> delete
 'popitem',  ==> delete
 'setdefault',=>
 'update',   ==>extend
 'values'   ==>only values

In [44]:
l1={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 500}
print(l1.pop("Rohit"))
print(l1)

20
{'Santosh': 30, 'ranvir': 40, 'Pratham': 500}

In [19]:
l={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
print(l.clear())

None

In [22]:
l={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
l1=l.copy()
print(l1)

{'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}

In [50]:
l={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
d2={"Suresh":30}
l1=l.update(d2)
print(l)

{'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50, 'Suresh': 30}

In [51]:
l={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
l2=l.pop("")
print(l2)

TypeError: pop expected at least 1 argument, got 0

In [56]:
l={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
l1=list(l.items())
print(l1)

[('Rohit', 20), ('Santosh', 30), ('ranvir', 40), ('Pratham', 50)]

In [52]:
l={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
l.keys()

dict_keys(['Rohit', 'Santosh', 'ranvir', 'Pratham'])

In [29]:
l={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
l1=l.get(1)
print(l.getet(0))

AttributeError: 'dict' object has no attribute 'getet'

In [58]:
l={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
l.popitem()

('Pratham', 50)

# Remove
 ======> pop
 
 ======> pop item
 
 ======> del

In [63]:
l={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
del(l["ranvir"])
print(l)

{'Rohit': 20, 'Santosh': 30, 'Pratham': 50}

In [65]:
d1={'apple':20,'Banana':30}
d2={'Chery':40}
d1.update(d2)
print(d1)

{'apple': 20, 'Banana': 30, 'Chery': 40}

In [68]:
d1={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
#d1['hii']     # Error
d1.setdefault('Grade') # Insertion happned with None as key
print(d1)

{'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50, 'Grade': None}

In [70]:
d1={'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50}
d1['Grade']='A'
print(d1)

{'Rohit': 20, 'Santosh': 30, 'ranvir': 40, 'Pratham': 50, 'Grade': 'A'}

Set defalut is only for None and new value   
And it will not change already existed value