## Tuple data structure 
 1. using =>()
 2. Not growable
 3. Immutable
 4. Duplicates are allowed

## Tuple Compresion

In [4]:
t1=(1,2,3,4)


t2=(i+2 for i in t1) #<generator object <genexpr> at 0x0000018B5070D220>


t3=tuple(i+2 for i in t1) #(3, 4, 5, 6)


print(t3)
print(t2)

(3, 4, 5, 6)
<generator object <genexpr> at 0x0000018B5070DBE0>

## Common function on Tuple

In [15]:
t=(1,2,84,54,56)
print(max(t))   #56
print(min(t))    #1
print(sorted(t)) #[1, 2, 54, 56, 84]
print(sorted(t,reverse=True))   #[84, 56, 54, 2, 1]
print(sum(t))                   #197

84
1
[1, 2, 54, 56, 84]
[84, 56, 54, 2, 1]
197

AttributeError: 'tuple' object has no attribute 'pop'

## Tuple Specific MEthod

In [17]:
t=(10,20,30,50,70,50)

print(t.index(50))  #3

print(t.count(50))  #2

3
2

## Tuple Packing ans tuple unpacking

->Converting individual object into Tuple is called as tuple Packing
->Converting Tuple into Individual object is called as tuple unpacking

## Tuple Packing

In [20]:
a=111
b=222
t=a,b
print(a,type(a))    #111 <class 'int'>
print(b,type(b))    #222 <class 'int'>
print(t , type(t))  #(111, 222) <class 'tuple'>

111 <class 'int'>
222 <class 'int'>
(111, 222) <class 'tuple'>

## Tuple unpacking

In [33]:
t=(111,222,333,444)
a=t 
print(a)    #(111, 222, 333, 444)

a,b,c,d=t

print(a)    #111
print(b)    #222
print(c)    #333
print(d)    #444

(111, 222, 333, 444)
111
222
333
444